# Виртуальное окружение
.venv/
env/
venv/

# Файлы сборки
dist/
build/
*.egg-info/

# Конфигурационные и системные файлы
__pycache__/
*.pyc
*.pyo

# Лог-файлы и временные файлы
*.log
*.tmp
*.bak
*.swp

# IDE-специфические файлы
.idea/
.vscode/
*.iml
